@Library("{{ item.language }}") _

core_branchBuilder(
    {% if item.scm_security | default(false) %}

    scm_security: true,
    scm_credentials_id: "{{ item.scm_credentials_id }}",
    {% endif %}

    scope: "branch",
    application_type: "{{ item.language }}",
    scm_address: "{{ item.repo }}",
    sonar_qube_project_key: "{{ item.identifier }}",
    environment: "{{ ENVIRONMENT }}"
)